.adminHeading {
  margin: 1em auto;
  text-align: center;
  font-size: 30px;
}
.lftReport {
  float: left;
  margin-left: 2%;
  width: 45%;
  height: 500px;
  padding: 5px;
}
.tableHead {
  font-size: 18px;
  font-weight: bold;
  margin: 1em auto;
}
.rhtEmp {
  float: right;
  margin-right: 2%;
  width: 45%;
  height: 500px;
  padding: 5px;
}
/* leavereport table styles */
.approveico {
  float: left;
  margin-left: 15%;
}
.approveico:hover {
  color: #1993ff;
  cursor: pointer;
}
.rejectico {
  float: right;
  margin-right: 25%;
}
.rejectico:hover {
  color: #d32a04;
  cursor: pointer;
}
/* emp crud table styles */
.addEmpico {
  float: right;
  margin-right: 5%;
}
.addEmpico:hover {
  color: #ff7207;
  cursor: pointer;
}
.editEmpico {
  float: left;
  margin-left: 15%;
}
.editEmpico:hover {
  color: #1993ff;
  cursor: pointer;
}
.delEmpico {
  float: right;
  margin-right: 25%;
}
.delEmpico:hover {
  color: #ff0a0a;
  cursor: pointer;
}

/* user page styles */
.lftReport_user {
  float: left;
  margin-left: 2%;
  width: 30%;
  height: 500px;
  padding: 5px;
}
.rhtEmp_user {
  float: right;
  margin-right: 2%;
  width: 60%;
  height: 500px;
  padding: 5px;
}
.leaveReasontextarea {
  width: 60%;
  height: 30px;
}
.bookleaveBut {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  border: none;
  background-color: rgb(54, 250, 103);
}
.bookleaveBut:hover {
  cursor: pointer;
  background-color: rgb(77, 250, 54);  
}
.tableHead_user {
  font-size: 18px;
  font-weight: bold;
  margin: 1em auto;
  text-align: center;
}